## K - Prototype Clustring Algorithm Implementation

We use K-Means clustering algorithm if we have numeric data and K-Modes algorithm for Categorical data but what if we have mixed data i.e numeric and categorical both. We use K-Prototype in this case. It has been designed to use K-Means for numeric columns and K-Modes for categorical columns.

### Load Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from kmodes.kprototypes import KPrototypes

### Load Data

In [2]:
marketing_data = pd.read_csv("marketing.csv",sep=",")

In [3]:
marketing_data.head()

,Customer,State,CLV,Coverage,Income,loc_type,monthly_premium,months_last_claim,Months_Since_Policy_Inception,Total_Claim_Amount,Vehicle_Class,avg_vehicle_age
0,BU79786,Washington,2763.519279,Basic,56274,Suburban,69,32,5,384.811147,Two-Door Car,40.696695
1,AI49188,Nevada,12887.431650,Premium,48767,Suburban,108,18,38,566.472247,Two-Door Car,48.755298
2,HB64268,Washington,2813.692575,Basic,43836,Rural,73,12,44,138.130879,Four-Door Car,70.394474
3,OC83172,Oregon,8256.297800,Basic,62902,Rural,69,14,94,159.383042,Two-Door Car,53.460212
4,XZ87318,Oregon,5380.898636,Basic,55350,Suburban,67,0,13,321.600000,Four-Door Car,32.811507

As we can see we have mixed data type so we can't just use either K-Means or K-Modes. We will have to use combination of both these algorithm which is nothing but K-Prototype clustering algorithm

### Data Cleaning

Lets drop 'Customer' column as this has no use.

In [5]:
marketing_data.drop('Customer',axis=1,inplace=True)

### Let's  Scale Numeric Columns

In [10]:
Numeric_Cols = ['CLV','Income','monthly_premium','months_last_claim','Months_Since_Policy_Inception','Total_Claim_Amount','avg_vehicle_age']

In [11]:
cat_data = marketing_data.drop(Numeric_Cols,axis=1)
cat_data.head()

        State Coverage  loc_type  Vehicle_Class
0  Washington    Basic  Suburban   Two-Door Car
1      Nevada  Premium  Suburban   Two-Door Car
2  Washington    Basic     Rural  Four-Door Car
3      Oregon    Basic     Rural   Two-Door Car
4      Oregon    Basic  Suburban  Four-Door Car

In [14]:
numeric_data = marketing_data[Numeric_Cols]
numeric_data.head()

,CLV,Income,monthly_premium,months_last_claim,Months_Since_Policy_Inception,Total_Claim_Amount,avg_vehicle_age
0,2763.519279,56274,69,32,5,384.811147,40.696695
1,12887.431650,48767,108,18,38,566.472247,48.755298
2,2813.692575,43836,73,12,44,138.130879,70.394474
3,8256.297800,62902,69,14,94,159.383042,53.460212
4,5380.898636,55350,67,0,13,321.600000,32.811507

In [15]:
# Lets do scaling of numeric columns

scaler = StandardScaler()

In [16]:
numeric_data_scaled = scaler.fit_transform(numeric_data)

In [19]:
numeric_data_scaled_df = pd.DataFrame(data=numeric_data_scaled,columns=Numeric_Cols)
numeric_data_scaled_df.head()

,CLV,Income,monthly_premium,months_last_claim,Months_Since_Policy_Inception,Total_Claim_Amount,avg_vehicle_age
0,-0.772349,0.239359,-0.692321,1.684521,-1.535588,0.027591,-0.950653
1,0.684632,-0.069518,0.434436,0.293427,-0.352508,0.746670,-0.138215
2,-0.765128,-0.272405,-0.576756,-0.302756,-0.137403,-0.948856,2.043365
3,0.018143,0.512069,-0.692321,-0.104028,1.655142,-0.864733,0.336117
4,-0.395669,0.201341,-0.750103,-1.495122,-1.248781,-0.222621,-1.745608

In [20]:
# Now lets combine both categorical and scaled numeric data

In [21]:
final_data = pd.concat([cat_data,numeric_data_scaled_df],axis=1)
final_data.head()

,State,Coverage,loc_type,Vehicle_Class,CLV,Income,monthly_premium,months_last_claim,Months_Since_Policy_Inception,Total_Claim_Amount,avg_vehicle_age
0,Washington,Basic,Suburban,Two-Door Car,-0.772349,0.239359,-0.692321,1.684521,-1.535588,0.027591,-0.950653
1,Nevada,Premium,Suburban,Two-Door Car,0.684632,-0.069518,0.434436,0.293427,-0.352508,0.746670,-0.138215
2,Washington,Basic,Rural,Four-Door Car,-0.765128,-0.272405,-0.576756,-0.302756,-0.137403,-0.948856,2.043365
3,Oregon,Basic,Rural,Two-Door Car,0.018143,0.512069,-0.692321,-0.104028,1.655142,-0.864733,0.336117
4,Oregon,Basic,Suburban,Four-Door Car,-0.395669,0.201341,-0.750103,-1.495122,-1.248781,-0.222621,-1.745608

In [23]:
# Convert the dataframe to Numpy array before training the model

final_data_array = final_data.values

### Train the Model

In [22]:
kproto = KPrototypes(n_clusters=3,verbose=2)

In [27]:
kproto.fit_predict(final_data_array,categorical=[0,1,2,3])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 1684, ncost: 43961.88599677503
Run: 1, iteration: 2/100, moves: 1044, ncost: 42727.25320856664
Run: 1, iteration: 3/100, moves: 491, ncost: 42513.888709012106
Run: 1, iteration: 4/100, moves: 213, ncost: 42474.6955836033
Run: 1, iteration: 5/100, moves: 138, ncost: 42455.958910534646
Run: 1, iteration: 6/100, moves: 156, ncost: 42402.820714246474
Run: 1, iteration: 7/100, moves: 105, ncost: 42379.19358381165
Run: 1, iteration: 8/100, moves: 58, ncost: 42372.9477994903
Run: 1, iteration: 9/100, moves: 19, ncost: 42372.36140413257
Run: 1, iteration: 10/100, moves: 8, ncost: 42372.19091052687
Run: 1, iteration: 11/100, moves: 5, ncost: 42372.116424505504
Run: 1, iteration: 12/100, moves: 2, ncost: 42372.10264999943
Run: 1, iteration: 13/100, moves: 1, ncost: 42372.1000756721
Run: 1, iteration: 14/100, moves: 0, ncost: 42372.1000756721
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 1519, ncost: 42924.58793858539
Run: 2, iteration: 2/100, moves: 784, ncost: 42454.11105299574
Run: 2, iteration: 3/100, moves: 548, ncost: 42174.75484529926
Run: 2, iteration: 4/100, moves: 357, ncost: 42030.34480623709
Run: 2, iteration: 5/100, moves: 219, ncost: 42002.00757840315
Run: 2, iteration: 6/100, moves: 110, ncost: 41991.1200738527
Run: 2, iteration: 7/100, moves: 44, ncost: 41989.20144468097
Run: 2, iteration: 8/100, moves: 24, ncost: 41987.681756036014
Run: 2, iteration: 9/100, moves: 20, ncost: 41985.876819269906
Run: 2, iteration: 10/100, moves: 19, ncost: 41985.342800677376
Run: 2, iteration: 11/100, moves: 6, ncost: 41985.251513463205
Run: 2, iteration: 12/100, moves: 4, ncost: 41985.12184450256
Run: 2, iteration: 13/100, moves: 4, ncost: 41985.045903069724
Run: 2, iteration: 14/100, moves: 0, ncost: 41985.045903069724
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 1993, ncost: 43373.4985134895
Run: 3, iteration: 2/100, moves: 984, ncost: 42800.34330236661
Run: 3, iteration: 3/100, moves: 602, ncost: 42541.19049341338
Run: 3, iteration: 4/100, moves: 394, ncost: 42330.24406053535
Run: 3, iteration: 5/100, moves: 461, ncost: 42150.74394137565
Run: 3, iteration: 6/100, moves: 324, ncost: 42048.1112961439
Run: 3, iteration: 7/100, moves: 210, ncost: 42010.60355873247
Run: 3, iteration: 8/100, moves: 91, ncost: 42000.48588846171
Run: 3, iteration: 9/100, moves: 67, ncost: 41992.50364897872
Run: 3, iteration: 10/100, moves: 45, ncost: 41989.2052518789
Run: 3, iteration: 11/100, moves: 23, ncost: 41987.38283281441
Run: 3, iteration: 12/100, moves: 15, ncost: 41985.947403270795
Run: 3, iteration: 13/100, moves: 13, ncost: 41985.66987788473
Run: 3, iteration: 14/100, moves: 17, ncost: 41985.21467575552
Run: 3, iteration: 15/100, moves: 10, ncost: 41985.055122065714
Run: 3, iteration: 16/100, moves: 1, ncost: 41985.04590306973
Run: 3, iteration: 17/100, moves: 0, ncost: 41985.04590306973
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 1347, ncost: 43041.881045937305
Run: 4, iteration: 2/100, moves: 553, ncost: 42839.255248011774
Run: 4, iteration: 3/100, moves: 339, ncost: 42743.09498601547
Run: 4, iteration: 4/100, moves: 255, ncost: 42670.30342130563
Run: 4, iteration: 5/100, moves: 225, ncost: 42610.7974189982
Run: 4, iteration: 6/100, moves: 243, ncost: 42547.09462792039
Run: 4, iteration: 7/100, moves: 237, ncost: 42482.74872565146
Run: 4, iteration: 8/100, moves: 198, ncost: 42433.624154011435
Run: 4, iteration: 9/100, moves: 165, ncost: 42405.181341728305
Run: 4, iteration: 10/100, moves: 119, ncost: 42388.748923972234
Run: 4, iteration: 11/100, moves: 55, ncost: 42385.735129990346
Run: 4, iteration: 12/100, moves: 37, ncost: 42384.21013035425
Run: 4, iteration: 13/100, moves: 20, ncost: 42383.79783589886
Run: 4, iteration: 14/100, moves: 3, ncost: 42383.78226272755
Run: 4, iteration: 15/100, moves: 4, ncost: 42383.74963142211
Run: 4, iteration: 16/100, moves: 9, ncost: 42383.68101282645
Run: 4, iteration: 17/100, moves: 5, ncost: 42383.64637345116
Run: 4, iteration: 18/100, moves: 3, ncost: 42383.62705072495
Run: 4, iteration: 19/100, moves: 1, ncost: 42383.62452205959
Run: 4, iteration: 20/100, moves: 0, ncost: 42383.62452205959
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 1045, ncost: 45741.11150117688
Run: 5, iteration: 2/100, moves: 836, ncost: 44802.95285739556
Run: 5, iteration: 3/100, moves: 1094, ncost: 43378.26131230203
Run: 5, iteration: 4/100, moves: 814, ncost: 42919.66048764934
Run: 5, iteration: 5/100, moves: 489, ncost: 42694.285762021835
Run: 5, iteration: 6/100, moves: 380, ncost: 42566.69778768824
Run: 5, iteration: 7/100, moves: 263, ncost: 42506.74453654206
Run: 5, iteration: 8/100, moves: 167, ncost: 42478.497703108274
Run: 5, iteration: 9/100, moves: 197, ncost: 42420.922722889045
Run: 5, iteration: 10/100, moves: 153, ncost: 42390.68815144908
Run: 5, iteration: 11/100, moves: 107, ncost: 42373.85156501508
Run: 5, iteration: 12/100, moves: 40, ncost: 42372.46853731938
Run: 5, iteration: 13/100, moves: 16, ncost: 42372.187731007565
Run: 5, iteration: 14/100, moves: 7, ncost: 42372.11642450552
Run: 5, iteration: 15/100, moves: 2, ncost: 42372.10264999941
Run: 5, iteration: 16/100, moves: 1, ncost: 42372.100075672104
Run: 5, iteration: 17/100, moves: 0, ncost: 42372.100075672104
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 1516, ncost: 45803.652125980516
Run: 6, iteration: 2/100, moves: 1191, ncost: 43899.92963250347
Run: 6, iteration: 3/100, moves: 976, ncost: 42887.09371503335
Run: 6, iteration: 4/100, moves: 763, ncost: 42353.787425479255
Run: 6, iteration: 5/100, moves: 588, ncost: 42093.12112434008
Run: 6, iteration: 6/100, moves: 335, ncost: 42011.62973295488
Run: 6, iteration: 7/100, moves: 139, ncost: 41997.817157580335
Run: 6, iteration: 8/100, moves: 69, ncost: 41990.32129931787
Run: 6, iteration: 9/100, moves: 21, ncost: 41989.06275525609
Run: 6, iteration: 10/100, moves: 14, ncost: 41988.22045907584
Run: 6, iteration: 11/100, moves: 28, ncost: 41985.84517858905
Run: 6, iteration: 12/100, moves: 18, ncost: 41985.334342315415
Run: 6, iteration: 13/100, moves: 10, ncost: 41985.12223193957
Run: 6, iteration: 14/100, moves: 4, ncost: 41985.043971616906
Run: 6, iteration: 15/100, moves: 0, ncost: 41985.043971616906
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 1606, ncost: 43423.61821177372
Run: 7, iteration: 2/100, moves: 916, ncost: 42879.072051106894
Run: 7, iteration: 3/100, moves: 572, ncost: 42555.45646950056
Run: 7, iteration: 4/100, moves: 516, ncost: 42256.72513681975
Run: 7, iteration: 5/100, moves: 446, ncost: 42079.717921132615
Run: 7, iteration: 6/100, moves: 269, ncost: 42017.92417050355
Run: 7, iteration: 7/100, moves: 133, ncost: 42001.86742772359
Run: 7, iteration: 8/100, moves: 80, ncost: 41993.55497829179
Run: 7, iteration: 9/100, moves: 54, ncost: 41989.31377746734
Run: 7, iteration: 10/100, moves: 28, ncost: 41987.382832814415
Run: 7, iteration: 11/100, moves: 15, ncost: 41985.94740327078
Run: 7, iteration: 12/100, moves: 13, ncost: 41985.669877884735
Run: 7, iteration: 13/100, moves: 17, ncost: 41985.214675755524
Run: 7, iteration: 14/100, moves: 10, ncost: 41985.05512206572
Run: 7, iteration: 15/100, moves: 1, ncost: 41985.045903069724
Run: 7, iteration: 16/100, moves: 0, ncost: 41985.045903069724
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 1378, ncost: 44785.41498336305
Run: 8, iteration: 2/100, moves: 1038, ncost: 43542.98302097722
Run: 8, iteration: 3/100, moves: 924, ncost: 42881.24033775151
Run: 8, iteration: 4/100, moves: 631, ncost: 42491.31788691923
Run: 8, iteration: 5/100, moves: 509, ncost: 42203.22675480116
Run: 8, iteration: 6/100, moves: 412, ncost: 42058.24785651465
Run: 8, iteration: 7/100, moves: 226, ncost: 42012.593754262096

Run: 8, iteration: 8/100, moves: 114, ncost: 42000.60539527798
Run: 8, iteration: 9/100, moves: 92, ncost: 41990.77458475859
Run: 8, iteration: 10/100, moves: 39, ncost: 41988.42789926502
Run: 8, iteration: 11/100, moves: 37, ncost: 41985.97249469417
Run: 8, iteration: 12/100, moves: 15, ncost: 41985.66987788474
Run: 8, iteration: 13/100, moves: 17, ncost: 41985.21467575553
Run: 8, iteration: 14/100, moves: 10, ncost: 41985.05512206572
Run: 8, iteration: 15/100, moves: 1, ncost: 41985.045903069724
Run: 8, iteration: 16/100, moves: 0, ncost: 41985.045903069724
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 1572, ncost: 45250.2468638323
Run: 9, iteration: 2/100, moves: 1187, ncost: 43306.023793413246
Run: 9, iteration: 3/100, moves: 712, ncost: 42688.35717897862
Run: 9, iteration: 4/100, moves: 540, ncost: 42524.88917206295
Run: 9, iteration: 5/100, moves: 257, ncost: 42436.692081033456
Run: 9, iteration: 6/100, moves: 173, ncost: 42408.580317104694
Run: 9, iteration: 7/100, moves: 102, ncost: 42395.11967296615
Run: 9, iteration: 8/100, moves: 64, ncost: 42389.9074194054
Run: 9, iteration: 9/100, moves: 36, ncost: 42388.57197978771
Run: 9, iteration: 10/100, moves: 19, ncost: 42387.85518102076
Run: 9, iteration: 11/100, moves: 14, ncost: 42386.70317621285
Run: 9, iteration: 12/100, moves: 8, ncost: 42386.54495428694
Run: 9, iteration: 13/100, moves: 2, ncost: 42386.52418975031
Run: 9, iteration: 14/100, moves: 3, ncost: 42386.493266319034
Run: 9, iteration: 15/100, moves: 0, ncost: 42386.493266319034
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 1202, ncost: 45584.36540100236
Run: 10, iteration: 2/100, moves: 967, ncost: 44612.72993497613
Run: 10, iteration: 3/100, moves: 903, ncost: 43320.11295116219
Run: 10, iteration: 4/100, moves: 683, ncost: 42658.218120261336
Run: 10, iteration: 5/100, moves: 416, ncost: 42524.855948544886
Run: 10, iteration: 6/100, moves: 177, ncost: 42495.303053526826
Run: 10, iteration: 7/100, moves: 142, ncost: 42463.30809571498
Run: 10, iteration: 8/100, moves: 160, ncost: 42402.60555389769
Run: 10, iteration: 9/100, moves: 70, ncost: 42392.56260121595
Run: 10, iteration: 10/100, moves: 37, ncost: 42389.24522732779
Run: 10, iteration: 11/100, moves: 16, ncost: 42388.236795555684
Run: 10, iteration: 12/100, moves: 8, ncost: 42387.73745175293
Run: 10, iteration: 13/100, moves: 16, ncost: 42386.492763851675
Run: 10, iteration: 14/100, moves: 2, ncost: 42386.46816528233
Run: 10, iteration: 15/100, moves: 0, ncost: 42386.46816528233
Best run was number 6

array([2, 2, 2, ..., 1, 2, 2], dtype=uint16)

In [28]:
# Cluster centroid

kproto.cluster_centroids_

array([['1.4892479757271928', '-0.17866403872290276',
        '1.8528232498282782', '0.022514279683447786',
        '-0.0044803090434404995', '1.5534283318919457',
        '0.05841242762031066', 'California', 'Extended', 'Suburban',
        'SUV'],
       ['-0.14719282878528323', '0.964370037557572',
        '-0.24110631112290754', '-0.06802247735658976',
        '0.0794618380306117', '-0.5022677261053352',
        '-0.022226919467376642', 'California', 'Basic', 'Rural',
        'Four-Door Car'],
       ['-0.23807796696267414', '-0.7465400492202009',
        '-0.24873173020243483', '0.05027100686665932',
        '-0.06397908602880217', '0.03717920157933059',
        '0.004133005118793087', 'California', 'Basic', 'Suburban',
        'Four-Door Car']], dtype='<U32')

## Assign cluster labels to original dataframe

In [31]:
marketing_data['cluster'] = kproto.labels_

In [32]:
marketing_data.head()

,State,CLV,Coverage,Income,loc_type,monthly_premium,months_last_claim,Months_Since_Policy_Inception,Total_Claim_Amount,Vehicle_Class,avg_vehicle_age,cluster
0,Washington,2763.519279,Basic,56274,Suburban,69,32,5,384.811147,Two-Door Car,40.696695,2
1,Nevada,12887.431650,Premium,48767,Suburban,108,18,38,566.472247,Two-Door Car,48.755298,2
2,Washington,2813.692575,Basic,43836,Rural,73,12,44,138.130879,Four-Door Car,70.394474,2
3,Oregon,8256.297800,Basic,62902,Rural,69,14,94,159.383042,Two-Door Car,53.460212,1
4,Oregon,5380.898636,Basic,55350,Suburban,67,0,13,321.600000,Four-Door Car,32.811507,2